//Colors
$black:         #000;
$white:         #fff;
$whitesmoke:    #f8f8fa;
$whitesmoke-2:  #e9e9eb; //Borders
$whitesmoke-3:  #d9d9dc;
$green:         #86BC25;
$green-2:       #009A44;
$blue:          #00A3E0;
$blue-2:        #f2fafd;
$blue-3:        #0099D1;
$blue-4:        #00abab;
$blue-5:        #62b5e5;
$gray:          #9B9B9B;
$gray-1:        #F6F7F9;
$gray-2:        #D0D0CE; //Borders input
$gray-3:        #999999;
$red:           #DA291C;
$red-2:         #E62B1D;
$red-3:         #BF2419;
$red-4:         #F3BEBA;


//Font-size
$font-size-050:   0.75rem;//12px
$font-size-100:   0.813rem;//13px;
$font-size-200:   0.875rem;//14px;
$font-size-300:   1rem;//16px;
$font-size-400:   1.125rem;//18px;
$font-size-500:   1.25rem;//20px;
$font-size-600:   1.375rem;//22px;
$font-size-700:   1.5rem;//24px;

//Font-family
$font-family-light: 'Open_sanslight';
$font-family-normal: 'Opensans';
$font-family-semibold: 'OpenSans-Semibold';
$font-family-bold: 'OpenSans-Bold';

$border-radius: 0.125rem;
$shadow: 0 2px 4px 0 rgba(50,43,43,0.14);
